.navbar-nav {
  font-size: 21px;
  font-size: bolder;
}
.nav-item:hover {
  border-bottom: 1px #fff solid !important;
}
#nav-bar {
  background: rgba(98, 205, 217, 1);
  background: -moz-linear-gradient(
    top,
    rgba(98, 205, 217, 1) 0%,
    rgba(58, 117, 140, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(98, 205, 217, 1)),
    color-stop(100%, rgba(58, 117, 140, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(98, 205, 217, 1) 0%,
    rgba(58, 117, 140, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(98, 205, 217, 1) 0%,
    rgba(58, 117, 140, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(98, 205, 217, 1) 0%,
    rgba(58, 117, 140, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(98, 205, 217, 1) 0%,
    rgba(58, 117, 140, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62cdd9', endColorstr='#3a758c', GradientType=0 );

  -webkit-box-shadow: 0px 6px 16px 0px rgba(122,122,122,1);
-moz-box-shadow: 0px 6px 16px 0px rgba(122,122,122,1);
box-shadow: 0px 6px 16px 0px rgba(122,122,122,1);

}
#nav-bar i {
  font-size: 55px;
}
#card-id{
  background-color: #428C3F;
  color: white;
  opacity: 0.9;
}
#card-container{
  opacity: 0.9;
}
#card-id h3{
  font-size: 36px;
  font-weight: lighter;
}

#row-card{
  background-color: #f9f9f9;
  border-radius: 6px;
  padding: 7px;
  -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.16);
  box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.16);
}

#event-card-event{
  font-size: 29px;
}
#close-identity{
  font-size: 22px;
}

#footer-identity{
  background-color: #3d7b92;
}
.social-media{
  padding: 0;
  margin: 0 auto;
}
.social-media li{
  list-style: none;
  display: inline;
  font-size: 19px;
  margin-right: 11px;
  color: white;
}
.social-media li a{
  color: white;
}

#some-how{
  background-color: white !important;
  box-shadow: none !important;
}
.social-link {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 29%;
  transition: all 0.3s;
  font-size: 35px;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
